<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,600italic,700" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css'%}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/styles.css'%}"  >
    <title>Invaana University</title>

    <meta content="Invaana University" name="description"/>
    <link href="https://university.invaana.com{{request.get_full_path}}" rel="canonical"/>
    <meta content="Invaana University " property="og:title"/>
    <meta content="Invaana University is portal of the curated FREE/OPEN educational video resources." property="og:description"/>
    <meta content="https://university.invaana.com{{request.get_full_path}}" property="og:url"/>
    <meta content="https://university.invaana.com{% static 'images/banner.png' %}" property="og:image"/>
    <meta content="summary_large_image" name="twitter:card"/>
    <meta content="Invaana University is portal of the curated FREE/OPEN educational video resources." name="twitter:description"/>
    <meta content="Invaana University " name="twitter:title"/>
    <meta content="https://university.invaana.com{{request.get_full_path}}" name="twitter:url"/>
    <meta content="https://university.invaana.com{% static 'images/banner.png' %}" property="twitter:image"/>
    <meta content="Invaana University " itemprop="name"/>
    <meta content="Invaana University is portal of the curated FREE/OPEN educational video resources." itemprop="description"/>
    <meta content="https://university.invaana.com{% static 'images/banner.png' %}" itemprop="image"/>


</head>

<body>

{% load static %}





{% block content %}



{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
{{ form.media }}


<script>
    $('.datetimepicker').datetimepicker({

   format:'Y-m-d H:m:s',



    });

</script>






</body>

</html>