{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">


function countTimer(countDownDate,id) {

  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById(id).innerHTML = days + "d " + hours + "h " +
    minutes + "m " + seconds + "s ";

  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById(id).innerHTML = "EXPIRED";
  }

}


function cdate(t, id){
    setInterval(function () {
    console.log(new Date(t));
        var countDownDate = new Date(t).getTime();
        var x = countTimer(countDownDate,id)
    }, 1000);

}



</script>
 {% load bootstrap %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Reminder page</h1>
                <form role="form" action="" method="post">
                    {% csrf_token %}

                    {{ form|bootstrap }}
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            <p id="demo"></p>

            </div>
            <div class="col-md-6">
                <h2>Reminders</h2>
                <ul>
                {% for reminder in reminders %}
                    <li>
               <strong> {{ reminder.title }}</strong>

                        <br>                {{ reminder.time }}
                        <div class="clearfix"></div>
                        <p class="" id="reminder-{{reminder.id}}"></p>
                        <script>

                             cdate('{{reminder.time|date:'M d Y H:i:s' }}','reminder-{{reminder.id}}');
                        </script>
                    </li>
                {% endfor %}
                    </ul>
            </div>
        </div>

    </div>

</section>

{% endblock %}

{% block css %}
{{ form.media }}
{% endblock css %}